@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

/* || UTILITY CLASSES */
@layer utilities {
  .section-min-height {
    min-height: calc(100vh - 68px);
  };

  .toggle-btn {
    @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent [&>div]:rotate-[720deg];
  }
}


.path {
  stroke-dasharray: 250;
  stroke-dashoffset: 0;
  animation: dash 4s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 750;
  }
  to {
    stroke-dashoffset: 0;
  }
}
